[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
h5py = "==2.9.0"
requests = "==2.21.0"
runway-python = "*"
tensorflow-gpu = "==1.15.0"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.8"
